<mat-toolbar class="custom-bg-color">
  <a [routerLink]="'/home'">
    <img src="../../../assets/quizz.png" class="six mb10" />
  </a>
  <span class="custom-text-color ml10 lead">QUEEZ</span>
  <span class="espace"></span>

  <i
    class="fa-solid fa-user ml20 mr10 "
    style="color: rgb(219, 219, 219)"
    *ngIf="isLoggedIn"
  >
  {{ user.username }}

  </i>
  <i
    class="fa-solid fa-right-from-bracket ml20 mr10  custom-text-color log-text"
    style="color: aliceblue"
    *ngIf="isLoggedIn"
    (click)="logout()"
  >
    logout
  </i>
</mat-toolbar>
