.espace {
  flex: 1 1 auto;
}

.custom-bg-color {
  background-color: #5a31ff;
  box-shadow: initial 0 0 0 1000px rgb(0, 0, 0);
}


body { background-color: #A793F0; 
  margin: 0; 
  overflow: hidden;
}
.custom-text-color {
  color: white;
}

.six {
  width: 45px;
  height: 45px;
}

.title{
  color:white;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px; 
  margin-left: 40px;  
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.log-text{
  text-decoration: none;
  cursor: pointer;
}