<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

              <mat-card>
                <mat-card-content>
                    <h3 class="mt20">Instructions</h3>
                    <ul>
                        <li>Do not refresh the page otherwise you will get new questions in this quiz.</li>
                        <li>Do not switch the tabs.</li>
                        <li>Do not minimize the window.</li>
                    </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-8">

                <ng-container *ngIf="questions">

                    <h1 class="mt20">
                        On Going Quiz <b>{{ questions[0].quiz.title }}</b>
                    </h1>
                </ng-container>
                <mat-card *ngFor="let q of questions; let i = index" class="mt10">
                    <mat-card-content>
                      <p> 
                        <b> Q{{i + 1}}) </b>  
                        <span class="ml10" [innerHTML]="q.content"></span>
                    </p>
                       

                        <mat-divider></mat-divider>

                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio"
                                 [value]="q.option1"
                                 name={{i}}
                                 [(ngModel)]="q.givenAnswer"
                                />
                                {{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option2"
                                name={{i}}
                                [(ngModel)]="q.givenAnswer"
                               />
                               {{q.option2}}
                            </div>

                        </div>
                        <div class="row mt20">
                            <div class="col-md-6">   
                               
                                <input type="radio"
                                 [value]="q.option3"
                                 name={{i}}
                                 [(ngModel)]="q.givenAnswer"
                                />
                                {{q.option3}}</div>
                            <div class="col-md-6">   
                                <input type="radio"
                                 [value]="q.option4"
                                 name={{i}}
                                 [(ngModel)]="q.givenAnswer"
                                />
                                {{q.option4}}</div>

                        </div>
                    </mat-card-content>
                </mat-card>
<br>
                <div class="container mt20">
                    <button mat-raised-button color="primary" (click)="submitQuiz()"> Submit Quiz</button>

                </div>

            </div>
            <div class="col-md-2">
                <mat-card style="margin-top: 70px">
                    <mat-card-header>
                        <mat-card-title> Progress </mat-card-title>
                        <mat-card-subtitle>
                         Quiz will automatically submitted when timer reaches to 00:00
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>{{ getFormattedTime() }}</h1>
                        <mat-spinner mode="determinate" style="margin: auto" [value]="(timer/(this.questions.length * 2.5 * 60))*100">
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1> Marks Got : <b>{{marksGot}}</b></h1>
                    <h1>CorrectAnswers : <b>{{correctAnswers}}</b></h1>
                    <h1>Questions Attempted : <b>{{attempted}}</b></h1>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="printPage()" class="mt20" mat-raised-button color="primary">Print</button><br>
                    <button class="mt20 ml20" mat-raised-button color="warn" [routerLink]="'/userd/0'">Home</button>

                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>