.profile-image{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 50%;

}

h1{
  margin: 40px;
}

.table{
  width: 100%;  
  border-collapse: collapse; 
}

#hii{
    margin: 0 auto;
}
.table tr td{
padding: 15px 10px;
border: 0.5px solid rgb(218, 218, 218);
}