<div class="bootstrap-wrapper">
    
    <div class="container text-center">
        <div class="grid ">
              <mat-card class="dim">
            <div class="col-md-6 offset-md-3"> 
                <div class="container text-center">
                    <img src="../../../assets/signup.png" alt="" width="60" height="60"> 

                </div>
                  
                <h1 class="text-center"> Register Here </h1>

              <!--{{ user | json}}-->
                <form (ngSubmit)="formSubmit()" >
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        required
                          [(ngModel)]="user.username"
                          name="username"
                          matInput 
                          placeholder="Enter Here">   
                      </mat-form-field><br>

                      <mat-form-field class="full-width " appearance="outline">
                        <mat-label>password</mat-label>
                        <input 
                        class="custom-rounded"
                        required
                        [(ngModel)]="user.password"
                          name="password"
                          type="password" matInput placeholder="Enter Here">                
                      </mat-form-field><br>


                       <mat-form-field class="full-width" appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.firstName"
                          name="firstName"
                          matInput placeholder="Enter Here">                
                      </mat-form-field><br>


                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>LastName</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.lastName"
                          name="lastName"
                          matInput placeholder="Enter Here">                
                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.email"
                          name="email"
                          type="email" matInput placeholder="Enter Here">                
                      </mat-form-field><br>
 
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.phone"
                          name="phone"
                          type="number" matInput placeholder="Enter Here">                
                      </mat-form-field><br>
                      <div class="container" text-center>
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" style="margin-left: 20px" mat-raised-button color="accent"> Clear</button>
                      </div>

                </form>
            </div>

          </mat-card>

        </div>

    </div>

</div>