<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search Users" [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
        {{ user.username }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
</div>
<div class="cont">

<mat-card style="margin: 1%;" class="mt10" *ngFor="let r of results; let i = index">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{r.username}}  {{r.lastName}}</mat-card-title>
        <mat-card-subtitle> student</mat-card-subtitle>
    </mat-card-header>
<mat-card-content>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary">Marks Got : {{r.marksGot}}</button>

<button 
mat-flat-button color="primary" class="ml10" >Correct Answers : {{r.correctAnswers}}</button>
<button mat-flat-button color="primary" class="ml10">Attempts : {{r.attempted}}</button>

</mat-card-actions>
<button class="btn">
    <i
      class="fas fa-trash"
      style="color: rgb(251, 71, 71)" 
      (click)="deleteResult(r.testResultId,i)"
    ></i>
  </button>
</mat-card>

</div>