.cont{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.example-header-image {
    background-image: url("../../../../assets/employe.png");
    border: 0.5px solid black;
    padding: 10px;
    background-size: cover;
}

.btn{
    position: absolute;
    right: 5px;
    top: 5px;


}

.pp{
    size: 20px;
}

