.w100{
width: 80%;
}
.w120{
    width: 60%;
    }
.w130{
        width: 60%;
        
        }
.container{
    padding: 3%;
    margin-left: 2%;
    
}    
.button{
    margin-left:38%;
}    