
<mat-card style="padding: 1%;" class="mt10" *ngFor="let q of quizzes">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ q.title }}</mat-card-title>
        <mat-card-subtitle> {{q.category.title}}</mat-card-subtitle>
    </mat-card-header>
<mat-card-content>
    <p>{{q.description}}</p>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary" [routerLink]="'/admin/view-questions/' + q.qID + '/' + q.title">Questions</button>
<button mat-raised-button color="Basic" class="ml10">Max Marks : {{q.maxMarks}}</button>
<button mat-raised-button color="Basic" class="ml10">Questions : {{ questionCounts[q.qID] || 0 }}</button>
<button 
[routerLink]="'/admin/quiz/' + q.qID"
mat-flat-button color="primary" class="ml10" >Update</button>
<button mat-flat-button color="primary" class="ml10">Attempts</button>
<button mat-flat-button color="primary" class="ml10" (click)="deleteQuiz(q.qID)">Delete</button>
</mat-card-actions>
</mat-card>

<div class="container text-center mt20">
    <button mat-flat-button color="primary" routerLink="/admin/add-quiz">Add New Quiz</button>
</div>