<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="banner">
      <div class="container mt-2">
        <p class="title">WELCOME TO QUEEZ</p>
        <p class="lead custom-text-color par">
          Queez is a quiz platform where teachers <br />
          create quizzes and students take them to test their knowledge.
        </p>
        <br />
        <div class="btn_container">
          <button
            mat-button
            (click)="openDialog()"
            style="text-decoration: none; color: white"
            class="play_btn_text"
          >
            <img src="../../../assets/jouer.png" id="play_btn" /> GET STARTED !
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../assets/illu.png" class="quiz_img" />
      </div>
    </div>
    <img src="../../../assets/wave.png" class="wave" />
  </body>
</html>
