<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="banner">
        <div class="container mt-2">
            <p class="title">WELCOME TO QUEEZ</p>
            <p class="lead custom-text-color ml30">Queez is a quiz platform where teachers <br>
                create quizzes and students take them to test their knowledge.</p>
           <br> <div class="btn_container">  <a href="#" class="play_btn_text"><img src="../../../assets/jouer.png" id="play_btn"> GET STARTED !</a>
           </div>

        </div>
        <div class="col-md-4">
            <img src="../../../assets/illu.png" class="quiz_img">
        </div>
          </div>   
</body>
</html>
  