<form class="custom-modal">
  <button type="button" class="close-btn" (click)="close()">&times;</button>

  
  <img src="../../../assets/signin.png" alt="logo" class="signin d-block mx-auto ">
    <div class="mt">
        <div class="form-group mt10">  
          <label  for="exampleInputEmail1" class="lab">Email address</label>
          <input type="email" class="form-control inp" id="exampleInputEmail1" aria-describedby="emailHelp" >
          <small id="emailHelp" class="form-text text-muted lab">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group marg">
          <label  for="exampleInputPassword1" class="lab">Password</label>
          <input type="password" class="form-control inp" id="exampleInputPassword1" >
        </div>
        <div class="btns">
        <button type="submit" class="btn btn-primary  d-block mx-auto ">Login</button>
      </div>
      <div class="register">
      <small id="emailHelp" class="form-text text-muted">You don't have an account? </small>
   <div class="form-text text-register" id="emailHelp">Register here</div>
  </div>
</div>
      </form>