form{
 
    padding: 40px;
    border-radius: 20px;
    background-color: #fffff;
}

.close-btn {
    position: absolute;
    border-radius: 20%; 
    padding: 1%;
    padding-left: 7px;
    padding-right: 7px;
    top: 5px;  /* Position the button near the top */
    right: 5px; /* Position the button near the left */
    background: transparent;
    color: #be0000;  /* Change color on hover */
    border: 1px solid #be0000;
    font-size: 24px;  /* Make the "X" bigger */
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff2828;  /* Change color on hover */
    border: 1px solid #ff2828;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mt{
    margin-top: 45px;
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #5e5d5d;
    border-radius: 10px;
}

.form-control:hover{
    height: 40px;
    padding: 0 10px;
    border: 2px solid #363636;
    border-radius: 10px;
}

.signin{
    width: 80px;
    height: 80px;
    margin-bottom: 40px;

}
.closed{
    width: 100px;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    color: white;
    border-radius: 20px;
    background: rgb(124, 124, 124);
}

.btn-primary{
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, #1e66da, #5d1857);
    margin-top: 25px;
}
.btn-primary:hover{
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, #1e66da, #5d1857);
    transform: scale(1.05);     /* Slight zoom effect on hover */
    transition: all 0.4s ease;
}

  
.btns {
    display: flex;

}
.register{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

}
.lab{
    margin-left: 27px;
    margin-top: 7px;
    font-weight: 400;
    margin-bottom: 3px;
    
}
.inp{
    width: 270px;
    height: 40px;
    margin-left: 25px;
    
}
.text-register{
color: black;
cursor: pointer;
justify-content: center;
align-items: center;
margin-left: 40px;
font-weight: 500;
}



.marg{
    margin-top: 5px;
}